/* styles/PageDetails.css */

.page-details-container {
  padding: 20px;
}

.page-details-container h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.page-details-container p {
  margin-bottom: 20px;
}
